MONGO_URL_WEB=
MONGO_URL_LOCAL=
DB_LOCAL=
FIREBASE_URL=
GATEWAY_PORT=
API_PORT=
WS_PORT=
CORS_ORIGIN_API=
CORS_ORIGIN_WS=
CORS_ORIGIN=
VITE_API=
VITE_WS=
RATE_LIMIT_MAX=
RATE_LIMIT_WINDOW_SECONDS=
RATE_LIMIT_BAN=
RATE_LIMIT_ALLOWLIST=