[submodule "backend/gateway-server"]
	path = backend/gateway-server
	url = https://github.com/Bobr-DnD/gateway-server.git
[submodule "backend/API-server"]
	path = backend/API-server
	url = https://github.com/Bobr-DnD/API-server.git
[submodule "backend/WS-server"]
	path = backend/WS-server
	url = https://github.com/Bobr-DnD/WS-server.git
[submodule "frontend/vueFrontEndService"]
	path = frontend/vueFrontEndService
	url = https://github.com/Bobr-DnD/vueFtontEndService.git
